body {
    background-color: #3a3a3a;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.container {
    margin: 0px;
    padding: 0px;
}

@media (min-width: 0px) {.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%;
}}