body {
    background-color: rgb(238, 238, 238); 
}

.container {
    margin: 0px;
    padding: 0px;
}

@media (min-width: 0px) {.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%;
}}