.separa {
    margin-right: 20px;
}

/* estilos en un mismo archivo o en diferentes */
/* Estilo barra navegación */
button {
    background-color: transparent;
    outline: transparent;
    border-color: transparent;
    padding: 0;
}