.separa {
    margin-right: 20px;
}


/* barra navegación */
.userNav {
    display: inline-block;
    margin-left: 10px;
    
}

/* Perfil Usuario */

.containerDatos {
    margin-top: 30px;
    
}



.eventos {
    background-color: rgb(148, 182, 255);
    margin: 1%;
    padding: 20px;
}

.fotoPerfil {
    width: 200px;
    height: 200px;
   border-radius: 200px;
   object-fit: cover;
   margin-left: 20px;
   filter: drop-shadow(0 0 0.5rem rgba(34, 34, 34, 0.918));
}

.columnasDatos {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding: 30px;
    text-align: left;
    
}

.columnasDatos2 {
color: white;
}

.columnasDatos hr {
    text-decoration: 0px;
}

.titulos {
    font-weight: bold;
    font-size: 25px;
    
}

.nickname {
    font-style: italic;
    font-size: 20px;
    padding-bottom: 20px;
}



.descripcion {
    background-color: rgb(207, 222, 255);
    padding: 20px;
    font-size: 16px;

}

.botones {
    display: flex;
    justify-content:flex-end;
    gap: 10px;
    padding: 20px;

}

.contacto {
    
    font-size: 16px;
}
 
/* Estilo cards eventos */

.tituloSeccion {
    text-align: center;
    padding: 15px;
}

.filtros {
    display: flex;
    flex-flow: wrap;
    padding-left: 10px;
    gap: 10px;
    padding-bottom: 10px;
    
}

.cardsEventos {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(177, 202, 255);
    filter: drop-shadow(0 0 0.5rem rgba(107, 107, 107, 0.448));
}


.datosEventos {
    padding-bottom: 10px;
}

.posicionIconos {
    display: flex;
    gap: 10px;
}

.tituloEvento {
    font-size: 24px;
    text-align: left;
}

.nivel {
    font-size: 18px;
    padding-bottom: 10px;
}

/* modals */

.dropArea {
    margin: 20px;
    padding: 20px;
    border: solid gray
   
}

.modalStyle {
    background-color: rgb(170, 174, 182);
}

.creador {
    display: flex;
    justify-content: space-between;
}

.valoraciones {
    padding-bottom: 10px;
}

.imagenesSubidas {
    padding: 5px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.imagenesSubidas div {
padding: 10px;}





/* pantalla de inicio */

.sinDatos {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.tituloDivCards h2 {
    text-align: center;
    padding: 20px;
    padding-right: 50px;
    font-size: 40px;
    color: rgb(158, 189, 255);
    filter: drop-shadow(0 0 0.75rem rgb(105, 105, 105));
}

.cardsValoraciones {
    margin: 20px;
    filter: drop-shadow(0 0 0.75rem rgb(54, 47, 47))
}

.cardsValoraciones div {
    margin: 10px;
    padding: 0px;
    border-radius: 0px;
    background-color: rgb(158, 189, 255);
    
}



.containerValoraciones {
    display: flex;
    justify-content: space-between;
}

.valoracionInicio {
   padding: 10px;
   display: flex;
}

.valoracionInicio b {
    font-size: 21px;
}


.tituloValoracion b {
    font-size: 23px;
}
.img-fluid video {
    width: auto;
    height: 100%;
  
  
  }

.puntuacionValo {
    font-size: 23px;
    display:inline-flex;
    
}
.puntuacionValo div {
    
    padding: 0px;
    margin: 0px;
}

.sobreposicion {
    background-color: rgba(54, 54, 54, 0.856);
    width: 50%;
    position: absolute;
    padding: 0px;
     left: 45%; 
 color: white;
     top: 20%;
     border-radius: 10px;
}

.nombreWeb {
    width: 100%;
    height: 200px;
    align-content: center;
    padding: 10px;
  }

@media screen and (max-width: 500px) {
   
    .sobreposicion {
        font-size: 13px;
        width: 90%;
        position: absolute;
        padding: 20px;
         left: 5%; 
         top:50%;
     color: white;
     padding: 10px;
         border-radius: 10px;
    }
    .video {
        width: 100%;
        height: 500px;
        position: relative;
      }

      .valoracionInicio {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
     }
     .nombreWeb {
        width: 100%;
        height: 80px;
      }
  }

@media screen and (max-width: 1100px) and (min-width: 500px)  {
    .sobreposicion {
 
        width: 70%;
        position: absolute;
         left: 25%; 
         top:20%;
     
    }
    .nombreWeb {
        width: 100%;
        height: 150px;
      }
  
  }

  /* registrarse */

  .registrarse {
    color: white;
}

.registrarse input {
    border-radius: 0px;
}

.registrarse textarea {
    border-radius: 0px;
}

.registrarse select {
    border-radius: 0px;
}
  

/* lista eventos */

.tituloEventos h3 {
    text-align: center;
    padding: 20px;
    padding-right: 50px;
    font-size: 40px;
    color: rgb(158, 189, 255);
    filter: drop-shadow(0 0 0.75rem rgb(105, 105, 105));
}

.containerListaEventos {
    background-color: rgb(207, 222, 255);
    padding: 20px;
}

.containerListaEventos div {
    border-radius: 0px;
    border: transparent;
    
}

.containerListaEventos input {
    border-radius: 0px;
    border: transparent;
    
}

.containerListaEventos select {
    border-radius: 0px;
    border: transparent;
    
}

.eventoSeleccionado {
    background-color: rgb(176, 201, 255);
    
 
}
.eventoSeleccionado div {
    background-color: rgba(196, 196, 196, 0);
 
}

.leyenda {
    padding: 20px;
}

.iconosLeyenda {
    filter: drop-shadow(0 0 0.25rem rgba(68, 68, 68, 0.253));
}

.participantesLista {
    color:white;
    text-decoration: solid;
    font-weight: bold;
}

.participantesLista:hover {
    color:rgb(0, 0, 0);
    font-weight: bold;
}

.botonInfo button {
    text-decoration: none;
    border: 0px;
    background-color: transparent;
}

/* crear evento */

.nuevoEvento {
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.nuevoEvento label{
    padding-top: 10px;
}

.mapa {
    border-radius: 0px;
    border-color: transparent;
}
